{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block pagescript %}
<script type="text/javascript">
$(document).ready(function () {
    // Turn on the tabbed display
    $("#tabs").tabs();

    // Register the quick-display change
    $("#slide-select select").change(function () {
        var chosen = $("#slide-select option:selected").eq(0).attr("value");
        if (chosen != 0) {
            document.location.href += chosen + "/";
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#login"><span>Admin</span></a></li>
    <li><a href="#slide-select"><span>Show</span></a></li>
  </ul>
  <div id="login">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url slidey-login %}">
    <table>
      <tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
      <tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
    </table>

    <input type="submit" value="login" />
    </form>
  </div>
  <div id="slide-select">
      <select>
        <option value="0" selected="selected">Select a slide show</option>
{% for show in show_list %}
        <option value="{{ show.id }}">{{ show.show_name }}</option>
{% endfor %}
     </select>
    </p>
  </div>
</div>
{% endblock %}
