{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block pagescript %}
<script type="text/javascript">
  function got_data(data) {
    $("#itemdisplay").empty();
    $.each(data, function(i, item) {
      $("#itemdisplay").append("<p>" + item["pk"] + "</p>");
    });
  };
</script>
{% endblock %}

{% block content %}
<p>Select a slide show to edit.</p>

<ul id="showlist" style="list-style-type: none; margin: 0; padding: 0; width: 60%;">
{% for show in show_list %}
  <li onclick="$.getJSON('{% url slidey-showcont show_id=show.id %}', got_data);">
    {{ show.show_name }}
    <a href="../{{ show.id }}/">Launch</a></li>
{% endfor %}
</ul>
<div id="itemdisplay"></div>
{% endblock %}

