{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block pagescript %}
{% endblock %}

{% block content %}
<p>Select a slide show to edit.</p>

<script type="text/javascript">
$(function() {
    $("#showlist").accordion({
        active: false,
        header: "h3",
        alwaysOpen: false
    })
});
</script>

<div id="showlist">
{% for show in show_list %}
  <div><h3><a href="#">{{ show.show_name }}</a></h3>
    <div>Content stuff.
      <a href="../{{ show.id }}/">Launch</a>
    </div>
  </div>
{% endfor %}
</div>
<div id="itemdisplay"></div>
{% endblock %}

