<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Slide Show</title>
  <script type="text/javascript" src="{% url slidey-static "jquery/jquery-1.3.js" %}"></script>
<script>
  $(document).ready(function(){
    $("#showspace.document").location = "http://www.kylev.com/";
  });
</script>
</head>

<frameset rows="10%,*">

<frame id="control" src="{% url slidey-control show_id %}" />
<frame id="showspace" src="{% url slidey-static "loading.html" %}" />

</frameset>
</html>
